<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Scripts.SC001_testUserAuthentication"/>
      <class name="Scripts.SC002_testCheckAccountWithdrawal"/>
      <class name="Scripts.SC003_testSavingsAccountDeposit"/>
      <class name="Scripts.SC004_testUserRegistration"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
